@{
    ViewData["Title"] = "صفحه اختصاصی کاربران";
    Layout = "_UserLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">به صفحه کاربران خوش امدید</a>.</p>
</div>
